<div class="row">

  <div class="col-md-3">
    <%= image_tag user_avatar(@user), class: 'profile_avatar' %>
    <h3 style="color:#0004FF"><%= @user.nickname %></h3>
    <h5>Имя: <%= @user.name %></h5>
    <h5>На сайте с: <%= Russian::strftime(@user.created_at, '%-d.%-m.%Y') %> </h5>
    <div>
      <%= link_to 'Редактировать', edit_user_path, class: 'btn btn-success btn-sm' %>
    </div>
  </div>

  <div class="col-md-9">

    <div class="row">

      <div class="col-md-6">
        <h4>Прочитал<%= count_list_books(@user, 'read') %>:</h4>
        <% if @user.book_users.where(list_type: 'read').any? %>
            <%= render partial: 'book_users/read', collection: @user.book_users.where(list_type: 'read') %>
        <% else %>
            <p>Список пуст</p>
        <% end %>
      </div>

      <div class="col-md-6">
        <h4>Обсуждает<%= count_discuss_books(@user) %>:</h4>
        <% if @user.comments.any? %>
            <%= render partial: 'partials/commented_book', collection: return_discuss_books(@user) %>
        <% else %>
            <p>Не обсуждает книги</p>
        <% end %>
      </div>

    </div>
  <hr/>

    <div class="row">
      <div class="col-md-6">
        <h4>Хочет прочитать<%= count_list_books(@user, 'wish') %>:</h4>
        <% if @user.book_users.where(list_type: 'wish').any? %>
            <%= render partial: 'book_users/wish', collection: @user.book_users.where(list_type: 'wish').all %>
        <% else %>
            <p>Список пуст</p>
        <% end %>
      </div>

      <div class="col-md-6">
        <h4>Добавил <%= count_add_books(@user) %>:</h4>
        <% if @user.books.any? %>
            <%= render partial: 'partials/added_book', collection: @user.books %>
        <% else %>
            <p>Нет добавленных книг</p>
        <% end %>
      </div>

    </div>
  </div>
</div>