<%= form_for @book do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: @book} %>

    <div class="form-group">
      <%= f.label 'Название' %>
      <%= f.text_field :title, class: 'form-control', :value=>'', :data =>{:title=>'Введите название книги', :toggle=>'tooltip', :placement=>'right'} %>
    </div>

    <div class="form-group">
      <%= f.label 'Автор' %>
      <%= f.text_field :author, class: 'form-control', :value=>'', :data =>{:title=>'Введите автора книги', :toggle=>'tooltip', :placement=>'right'} %>
    </div>

    <div class="form-group">
      <%= f.label 'Описание' %>
      <p><%= f.text_area :description, class: 'form-control', :value=>'', :data =>{:title=>'Введите описание книги', :toggle=>'tooltip', :placement=>'right'} %></p>
    </div>

    <div class="form-group">
      <%= f.label 'Загрузите обложку' %>
      <p><%= image_tag(@book.cover_picture.thumb.url) if @book.cover_picture? %></p>
      <%= f.file_field :cover_picture %>
    </div>

    <div class="actions">
      <%= f.submit 'Сохранить', class: 'btn btn-primary' %> или <%= link_to 'вернуться', :back %>
    </div>
<% end %>