<%= form_for @book do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: @book} %>

    <div class="form-group">
      <%= f.label 'Название' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label 'Автор' %>
      <%= f.text_field :author, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label 'Жанр' %>
      <%= f.text_field :genre, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label 'Описание' %>
      <p><%= f.text_area :description, class: 'form-control' %></p>
    </div>

    <div class="actions">
      <%= f.submit 'Сохранить', class: 'btn btn-primary' %> или <%= link_to 'вернуться', :back %>
    </div>
<% end %>
