 <% if !@books.present? && !@book_result.present? && !@books_result.present?%>
     <h2> Поиск не дал результатов </h2>
     <% end %>
<h2 style="text-align: center">Поиск по книгам</h2>

<div class="row">
  <%= form_tag search_title_path, :method => 'GET' %>
  <h4> Поиск по названию <%= text_field_tag :title %> <%= submit_tag 'Искать' %> </h4>


  <%= form_tag search_author_path, :method => 'GET' %>
  <h4> Поиск по автору <%= text_field_tag :author %> <%= submit_tag 'Искать' %></h4>
</div>

<% if @book_result.present? %>
    <h3>Результат поиска:</h3>
    <%= render @book_result %>
<% end %>

<% if @books_result.present? %>
    <h3>Результат поиска:</h3>
    <%= render partial: 'books/book', collection: @books_result %>
<% end %>


<% if @books.present? %>

<h2 style="text-align: center">Книги на сайте</h2>

<div class="row">
  <%= render partial: 'books/book', collection: @books %>
</div>
<% end %>