 <% if !@books.present? && !@result.present? && !@results.present?%>
     <h2> Поиск не дал результатов </h2>
     <% end %>
<h2 style="text-align: center">Поиск по книгам</h2>

<div class="row">
  <%= form_tag search_path, :method => 'GET' %>
  <h4> Название: <%= text_field_tag :title %> Автор: <%= text_field_tag :author %> <%= submit_tag 'Искать', class: "btn btn-default" %></h4>
</div>

<% if @result.present? %>
    <h3>Результат поиска:</h3>
    <%= render @result %>
<% end %>

<% if @results.present? %>
    <h3>Результат поиска:</h3>
    <%= render partial: 'books/book', collection: @results %>
<% end %>


<% if @books.present? %>

<h2 style="text-align: center">Книги на сайте</h2>

<div class="row">
  <%= render partial: 'books/book', collection: @books %>
</div>
<% end %>