<h2 style="text-align: center">Книги на сайте</h2>

<div class="row">
  <%= form_tag , :method => 'PUT' %>
<h4> Поиск по названию <%= text_field_tag :title %> по автору <%= text_field_tag :author %></h4>
  <%= submit_tag ('Искать', 'books/search') %>

</div>

<div class="row">
  <%= render partial: 'books/book', collection: @books %>
</div>