<p id="notice"><%= notice %></p>

<p>
  <strong>Create:</strong>
  <%= @book_user.create %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @book_user.destroy %>
</p>

<%= link_to 'Edit', edit_book_user_path(@book_user) %> |
<%= link_to 'Back', book_users_path %>
