<h5>Рейтинг книги: <%= show_rating_score(@book) %> из
  10. <%= ("Ваша оценка: #{@book.book_user_ratings.where(user: current_user).take.rating}") if user_signed_in? && @book.book_user_ratings.where(user: current_user).exists? %> </h5>

<% if user_signed_in? && !@book.book_user_ratings.where(user: current_user).exists? %>

    <%= form_for [@book, book_user_rating] do |f| %>

        <div class="btn-group" data-toggle="buttons">

          <label class="btn btn-warning btn-sm">
            <%= f.radio_button(:rating, '1') %>
            1 <i class="fa fa-star" aria-hidden="true"></i>
          </label>

          <label class="btn btn-warning btn-sm">
            <%= f.radio_button(:rating, '2') %>
            2 <i class="fa fa-star" aria-hidden="true"></i>
          </label>

          <label class="btn btn-warning btn-sm">
            <%= f.radio_button(:rating, '3') %>
            3 <i class="fa fa-star" aria-hidden="true"></i>
          </label>

          <label class="btn btn-warning btn-sm">
            <%= f.radio_button(:rating, '4') %>
            4 <i class="fa fa-star" aria-hidden="true"></i>
          </label>

          <label class="btn btn-warning btn-sm">
            <%= f.radio_button(:rating, '5') %>
            5 <i class="fa fa-star" aria-hidden="true"></i>
          </label>

          <label class="btn btn-warning btn-sm">
            <%= f.radio_button(:rating, '6') %>
            6 <i class="fa fa-star" aria-hidden="true"></i>
          </label>

          <label class="btn btn-warning btn-sm">
            <%= f.radio_button(:rating, '7') %>
            7 <i class="fa fa-star" aria-hidden="true"></i>
          </label>

          <label class="btn btn-warning btn-sm">
            <%= f.radio_button(:rating, '8') %>
            8 <i class="fa fa-star" aria-hidden="true"></i>
          </label>

          <label class="btn btn-warning btn-sm">
            <%= f.radio_button(:rating, '9') %>
            9 <i class="fa fa-star" aria-hidden="true"></i>
          </label>

          <label class="btn btn-warning btn-sm">
            <%= f.radio_button(:rating, '10') %>
            10 <i class="fa fa-star" aria-hidden="true"></i>
          </label>
        </div>

        <%= f.submit 'Голосовать', class: 'btn btn-secondary  btn-sm' %>

    <% end %>

<% end %>