<p id="notice"><%= notice %></p>

<h1>Listing Book User Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Create</th>
      <th>Destroy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_user_ratings.each do |book_user_rating| %>
      <tr>
        <td><%= book_user_rating.create %></td>
        <td><%= book_user_rating.destroy %></td>
        <td><%= link_to 'Show', book_user_rating %></td>
        <td><%= link_to 'Edit', edit_book_user_rating_path(book_user_rating) %></td>
        <td><%= link_to 'Destroy', book_user_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book user rating', new_book_user_rating_path %>
