<p id="notice"><%= notice %></p>

<p>
  <strong>Create:</strong>
  <%= @book_user_rating.create %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @book_user_rating.destroy %>
</p>

<%= link_to 'Edit', edit_book_user_rating_path(@book_user_rating) %> |
<%= link_to 'Back', book_user_ratings_path %>
