<div class="col-md-4">
  <h2>Изменение пароля</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Сейчас ожидается подтверждение для: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="well" style='margin-top: 20px'>
        <div class="field">
          <%= f.label 'Новый пароль' %>
          <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> знаков минимум</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <br/>

        <div class="field">
          <%= f.label 'Подтвердите новый пароль' %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <br/>

        <div class="field">
          <p style="font-weight: bold;">Текущий пароль для сохранения информации</p>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit 'Сохранить', class: 'btn btn-success btn-sm', style: 'margin-top: 10px' %>
        </div>

      </div>


  <% end %>

  <span><%= link_to 'Удалить аккаунт', registration_path(resource_name), class: 'btn btn-danger btn-sm', data: {confirm: 'Вы точно хотите удалить аккаунт?'}, method: :delete %> или

 <%= link_to 'Вернуться назад', :back, class: 'btn btn-success btn-sm' %></span>
</div>

